
nav{
  background: rgb(0, 0, 0) !important;

}

nav ul li{
  text-transform: uppercase;
}
.navbar-nav > li > a
{
  font-weight: 100;
  padding: 0 20px;
  color: #fff !important;
  border-bottom: transparent 3px solid;
}
.navbar-nav > li > a:hover
{
  color: #4b52e3  !important;
}
.navbar-nav > li > a:active, .navbar-nav > li > a:focus
{
  border-bottom: #4b52e3 3px solid;
}
